<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>घसारा दर</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form>
            <div class="row">
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">मालमत्तेचे वय व वर्ष</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="district">
                            <option value="">-- SELECT A AGE OF BUILDING -- </option>
                            <option value="1">5</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">मालमत्तेचे वर्णन</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="district">
                            <option value="">-- SELECT DESCRIPTION -- </option>
                            <option value="1">रामटेक</option>
                            <option value="2">तुमसर</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">टक्केवारी</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="takkevari" name="takkevari" placeholder="उदा. 25%">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group mt-6">
                        <button type="button" class="btn btn-pill btn-primary" title="Save"><strong>जतन
                                करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-default">
    <div class="card-body">
        <div class="col-md-4  mt-2 p-0" >
            <div class="input-group ">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search..." (keyup.enter)="translateText($event); filterData(); " (input)="filterData()" [(ngModel)]="searchValue" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="resetFilter($event)">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>

        <div class="table-responsive">
            
            <app-sorting-table
            [data]="items"
            [columns]="displayedColumns"
            [currentPage]="currentPage"
            (edit)="editInfo($event)"
            (delete)="deleteInfo($event)"
            [keyName]="keyName">
            </app-sorting-table>
            <div class="float-left font-weight-bold mt-1"><span class="font-weight-bold">Total Records :
            </span>{{totalItems}}</div>
        </div>


        <br>
        <app-pagination class="float-right" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>