<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>उपसरपंच इमेजेस जोडा</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="district">
                            <option value="">-- जिल्हा निवडा -- </option>
                            <option value="1">नागपुर</option>
                            <option value="2">भंडारा</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="district">
                            <option value="">-- तालुका निवडा -- </option>
                            <option value="1">रामटेक</option>
                            <option value="2">तुमसर</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="gramPanchayat">
                            <option value="">-- ग्राम पंचायत निवडा -- </option>
                            <option value="1">मनसर</option>
                            <option value="2">वरठी</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">सरपंच नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="oopsarpanch_name" name="oopsarpanch_name"
                            placeholder="उदा. रवी सुरज शर्मा">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">उपसरपंच इमेज</label>
                    <div class="form-group">
                        <input type="file" class="form-control" id="oopsarpanch_image" name="oopsarpanch_image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group ">
                        <button type="button" class="btn btn-pill btn-primary col-md-12 col-sm-12"
                            title="Save"><strong>जतन
                                करा</strong></button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        <a routerLink="../oopsarpanch-list" class="btn btn-pill btn-danger col-md-12 col-sm-12"
                            title="Back Page"><strong><i class="mdi mdi-arrow-left-bold-box"></i>मागील पृष्ठ ( Back
                                )</strong></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>