<div *ngIf="isLoading">
    <app-skeleton-loader></app-skeleton-loader>
</div>
<app-confirmation-dialog #confirmationDialog (confirmed)="onConfirmed($event)"></app-confirmation-dialog>
<div class="card card-default" *ngIf="!isLoading">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>मालमत्ता</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form [formGroup]="malmattaForm">
            <div class="row">
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">मालमत्तेचे प्रकार</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="malmattechePrakar" name="malmattechePrakar"
                            placeholder="उदा. कच्चे" formControlName="malmatteche_prakar"
                            (keypress)="keyDownText($event,'malmatteche_prakar')">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">मिळकतीचे वर्णन</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="milkatVarnan" name="milkatVarnan"
                            placeholder="उदा. वीटा, कवेलु, सीमेंट" formControlName="milkat_varnan"
                            (keypress)="keyDownText($event,'milkat_varnan')">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group mt-6">
                        <button type="button" class="btn btn-pill btn-primary" title="Save"
                            (click)="(!isEdit)  ? submitData() : updateData()"><strong>{{(isEdit) ? "बदल करा" : "जतन
                                करा"}}</strong></button>
                        <button type="button" class="btn btn-pill btn-info ml-1" title="Update"
                            (click)="reset()"><strong>पुन्हा रचना
                                करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-default" *ngIf="!isLoading">
    <div class="card-body">
        <div class="col-md-4  mt-2 p-0">
            <div class="input-group ">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search..." (keyup.enter)="translateText($event); " (input)="filterData($event)"
                    [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="resetFilter($event)">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>

        <div class="table-responsive">

            <app-sorting-table [data]="items" [columns]="displayedColumns" [currentPage]="currentPage"
                (edit)="editInfo($event)" (delete)="deleteInfo($event)" [keyName]="keyName">
            </app-sorting-table>
            <div class="float-left font-weight-bold mt-1"><span class="font-weight-bold">Total Records :
                </span>{{totalItems}}</div>
        </div>


        <br>
        <app-pagination class="float-right" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>



<!-- <div class="card card-default">
    <div class="card-body">
        <form action="#" method="get">
            <div class="col-md-4" id="input-group-search">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search...">
            </div>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th style="width:10%">अनुक्रमांक</th>
                        <th style="width:30%">मालमत्तेचे प्रकार</th>
                        <th style="width:30%">मिळकतीचे वर्णन</th>
                        <th style="width:20%">क्रिया</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="font-weight-bold">
                        <td>1</td>
                        <td>आर सी सी</td>
                        <td>लोडबारिंग आर सी सी बंगला</td>
                        <td><a href="" class="btn btn-sm btn-outline-success font-weight-bold"><i
                                    class="mdi mdi-square-edit-outline"></i>
                                एडिट</a> &nbsp;<a href="" class="btn btn-sm btn-outline-danger font-weight-bold"><i
                                    class="mdi mdi-trash-can-outline"></i> डिलीट</a></td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>2</td>
                        <td>कच्चे</td>
                        <td>वीटा, कवेलु, सीमेंट</td>
                        <td><a href="" class="btn btn-sm btn-outline-success font-weight-bold"><i
                                    class="mdi mdi-square-edit-outline"></i>
                                एडिट</a> &nbsp;<a href="" class="btn btn-sm btn-outline-danger font-weight-bold"><i
                                    class="mdi mdi-trash-can-outline"></i> डिलीट</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-seperated pagination-seperated-rounded">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true" class="mdi mdi-chevron-left mr-1"></span>
                        <span class="d-none d-lg-inline-block">Prev</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="d-none d-lg-inline-block">Next</span>
                        <span aria-hidden="true" class="mdi mdi-chevron-right ml-1"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div> -->