.card-header-label{
    margin-top: -0.5rem;
}


.table {
    table-layout: auto; /* Forces fixed-width layout */
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-overflow: ellipsis; /* Ensures text does not overflow */
    white-space: nowrap;
  }
  
  td,th:first-child {
    width: 10%;
    white-space: nowrap;
  }