<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>इतर टैक्स</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form>
            <div class="row">
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select formControlName="district_id" name="selectedOption" id="mySelect" class="form-control my-select2 col-sm-12" placeholder="Select district" (change)="getTalukaByDistrict($event)" formControlName="districtName">
                            <option value="" selected>-- जिल्हा निवडा -- </option>
                            <option *ngFor="let district of districts" [value]="district.DISTRICT_ID">{{ district.DISTRICT_NAME }}</option>
                        </select>
                        <!-- <span class="text-danger" *ngIf="isSubmitted && !gramFrom.value.districtName">Please select district</span> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control   my-select2" name="taluka" id="taluka" formControlName="talukaName"  >
                            <option value="" selected >-- तालुका निवडा -- </option>
                            <option *ngFor="let taluka of talukas" value="{{taluka.TALUKA_ID}}">{{taluka.TALUKA_NAME}}</option>
                           
                        </select>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <select class="form-control my-select2" name="gramPanchayat"  id="gramPanchayat" formControlName="grampanchayat_id">
                            <option value="" selected="selected">- ग्राम पंचायत निवडा -- </option>
                            <option *ngFor="let gramPanchayat of gramPanchayatList" value="{{gramPanchayat.PANCHAYAT_ID}}">{{gramPanchayat.PANCHAYAT_NAME}}</option>
                           
                        </select>
                        <!-- <span class="text-danger" *ngIf="isSubmitted && !gatGramFrom.value.grampanchayat_id">Please select taluka</span> -->
                    </div>
                </div>
                <!-- <div class="col-sm-3">
                    <div class="form-group mt-6">
                        <button type="button" class="btn btn-pill btn-primary" title="Save"><strong>जतन
                                करा</strong></button>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>
<div class="card card-default"  *ngIf="otherTaxList?.data?.length > 0">
    <div class="card-body" >
       
        <div class="table-responsive" >
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" style="width:2%">#</th>
                        <th style="width:10%">करांची नावे</th>
                        <th style="width:30%">दर (editable field column)</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="font-weight-bold" *ngFor="let ele of otherTaxList.data">
                        <td class="text-center">
                            <div class="form-check d-inline-block">
                                <input class="form-check-input" type="checkbox" value="" id="first" (click)="toggleCheck($event,ele)">
                            </div>
                        </td>
                        <td>{{ele.name}}</td>
                        <td
                            [attr.contenteditable]="ele.isChecked"
                            (input)="restrictText($event)"
                            [style.height.px]="20"
                            style="overflow: hidden; resize: none; border: 1px solid #ddd; white-space: nowrap;"
                            >
                            {{ ele.tax_rate || 0 }}
                            </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
