<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>बी डी ओ नविन जोड़ा</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="gramPanchayat">
                            <option value="">-- जिल्हा निवडा -- </option>
                            <option value="1">नागपुर</option>
                            <option value="2">गोंदिया</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="gramPanchayat">
                            <option value="">-- तालुका निवडा -- </option>
                            <option value="1">रामटेक</option>
                            <option value="2">तिरोडा</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="full_name" name="full_name"
                            placeholder="उदा. रवी सुरज शर्मा ">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">इमेल</label>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="उदा. abc@gmail.com ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">यूजरनेम</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="उदा. ravi03">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">पासवर्ड</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="उदा. ********">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group ">
                        <button type="button" class="btn btn-pill btn-primary col-md-12 col-sm-12"
                            title="Save"><strong>जतन करा</strong></button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        <a routerLink="../bdo" class="btn btn-pill btn-danger col-md-12 col-sm-12"
                            title="Back Page"><strong><i class="mdi mdi-arrow-left-bold-box"></i>मागील पृष्ठ ( Back
                                )</strong></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>