<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>एनुअल टैक्स</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form [formGroup]="annualTaxForm">
            <div class="row">
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select formControlName="district_id" name="selectedOption" id="mySelect"
                            class="form-control my-select2" placeholder="Select district">
                            <option value>-- जिल्हा निवडा -- </option>
                            <option *ngFor="let district of districtList" [value]="district.DISTRICT_ID">{{
                                district.DISTRICT_NAME }}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control"
                            name="district">
                            <option value>-- तालुका निवडा -- </option>
                            <option value="1">रामटेक</option>
                            <option value="2">तुमसर</option>
                        </select>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <label class="text-dark font-weight-medium">ग्राम
                        पंचायत</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control"
                            name="gramPanchayat">
                            <option value>-- ग्राम पंचायत निवडा -- </option>
                            <option value="1">मनसर</option>
                            <option value="2">वरठी</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">गट ग्राम
                        पंचायत</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control"
                            name="gramPanchayat">
                            <option value>-- गट ग्राम पंचायत निवडा -- </option>
                            <option value="1">मनसर</option>
                            <option value="2">वरठी</option>
                        </select>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">मालमत्तेचे
                        प्रकार</label>
                    <div class="form-group">
                        <select formControlName="malmattaId" class="my-select2 form-control" name="malmatta_prakar"
                            id="malmatta_id" placeholder="Malmatta Prakar">
                            <option value>-- मालमत्तेचे प्रकार निवडा --
                            </option>
                            <option *ngFor="let malmatta of malmattaList" [value]="malmatta.MALMATTA_ID">{{
                                malmatta.DESCRIPTION_NAME }}</option>
                        </select>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <label class="text-dark font-weight-medium">मालमत्तेचे
                        वर्णन</label>
                    <div class="form-group">
                        <select formControlName="malmattaPrakarId" class="my-select2 form-control"
                            name="malmattache_varnan" id="malmattache_varnan">
                            <option value>-- मालमत्तेचे वर्णन निवडा -- </option>
                            <option *ngFor="let mVarnan of malmattaVarnanList" [value]="mVarnan.MILKAT_VAPAR_ID">{{
                                mVarnan.MILKAT_VAPAR_NAME }}</option>
                        </select>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <label class="text-dark font-weight-medium">पवार्षिक मूल्य
                        दर</label>
                    <div class>
                        <input type="text" class="form-control" id="mulyaDar" name="mulyaDar" placeholder="उदा. 1200"
                            formControlName="mulyaDar" (keydown)="onKeydown($event,'mulyaDar')">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class=" col-sm-3">
                    <label class="text-dark font-weight-medium">आकारणी
                        दर</label>
                    <div class>
                        <input type="text" class="form-control" id="aakarniDar" name="aakarniDar"
                            placeholder="उदा. 1.20" formControlName="aakarniDar"
                            (keydown)="onKeydown($event,'aakarniDar')">
                    </div>
                </div>

                <div class="col-sm-5 mt-6 ">
                    <div class="form-group">

                        <button type="button col-sm-2" class="btn btn-pill btn-primary" title="Save"
                            (click)="(!isEdit)  ? submitData() : updateData()"><strong>{{(isEdit)
                                ? "बदल करा" :
                                "जतन करा"}}</strong></button>
                        <button type="button" class="btn btn-pill btn-info ml-1" title="Update"
                            (click)="reset()"><strong>पुन्हा रचना
                                करा</strong></button>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="card card-default">
    <div class="table-responsive">
        <table class="table table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" style="width:2%">#</th>
                    <th>जिल्हा</th>
                </tr>
            </thead>
        </table>
        <div *ngFor="let ele of userDistrict" class="m-0">
            <div class="row mt-0 me-0">

                <div class="col-md-12 mb-0">
                    <table class="table">
                        <thead class>
                            <tr>
                                <th class="text-center border" (click)="toggleCollapse(ele?.DISTRICT_ID)"
                                    style="width:2%">
                                    <i class=" toggle-nested "
                                        [ngClass]="collapsedDistricts[ele.DISTRICT_ID] ? 'mdi mdi-minus-circle' : 'mdi mdi-plus-circle' "></i>
                                </th>
                                <th class="border"> <span class="text-dark font-weight-bold ml-2 ">{{
                                        ele?.DISTRICT_NAME }}</span></th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div *ngIf="collapsedDistricts[ele.DISTRICT_ID]" class="mt-0 mb-2">

                <div class=" mt-0">

                    <app-sorting-table [data]="items" [columns]="displayedColumns" [currentPage]="currentPage"
                        (edit)="editInfo($event)" (delete)="deleteInfo($event)" [keyName]="keyName">
                    </app-sorting-table>
                    <div class="float-left font-weight-bold mt-1"><span class="font-weight-bold">Total Records :
                        </span>{{totalItems}}</div>
                </div>

                <div class="col-md-12 p-2">
                    <app-pagination class="float-right " [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                        (pageChange)="onPageChange($event)">
                    </app-pagination>
                </div>
                <br />

            </div>

        </div>
    </div>
</div>