.open-dropdown{
    cursor: pointer;
}
.d-none{
     display: none !important;
}
.card-header-label{
    margin-top: -0.5rem;
}

.district-header{
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid #e9ecef;
}