<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>ओपन प्लाट रेट्स जोडा</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form [formGroup]="openPlotRatesForm">
            <div class="row">
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select formControlName="district_id" name="selectedOption" id="mySelect"
                            class="form-control my-select2 col-sm-12" placeholder="Select district"
                            (change)="getTalukaByDistrict($event)" formControlName="district_id">
                            <option value="" selected="selected">-- जिल्हा निवडा -- </option>
                            <option *ngFor="let district of districts" [value]="district.DISTRICT_ID">{{
                                district.DISTRICT_NAME }}</option>
                        </select>
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.district_id">Please
                            select जिल्हा</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control my-select2" name="taluka" id="taluka"
                            formControlName="taluka_id">
                            <option value="" selected="selected">-- तालुका निवडा -- </option>
                            <option *ngFor="let taluka of talukas" value="{{taluka.TALUKA_ID}}">{{taluka.TALUKA_NAME}}
                            </option>

                        </select>
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.taluka_id">Please
                            select तालुका</span>
                    </div>
                </div>

                <div class=" col-sm-4">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <select class="form-control my-select2" name="gramPanchayat" id="gramPanchayat"
                            formControlName="panchayat_id">
                            <option value="" selected="selected">- ग्राम पंचायत निवडा -- </option>
                            <option *ngFor="let gramPanchayat of gramPanchayatList"
                                value="{{gramPanchayat.PANCHAYAT_ID}}">
                                {{gramPanchayat.PANCHAYAT_NAME}}</option>

                        </select>
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.panchayat_id">Please
                            select ग्राम पंचायत
                            निवडा</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">गट ग्राम पंचायत</label>
                    <div class="form-group">
                        <select class="form-control my-select2" name="gatgramPanchayat" id="gatgramPanchayat"
                            formControlName="gatgrampanchayat_id">
                            <option value="" selected="selected">- गट ग्राम पंचायत निवडा -- </option>
                            <option *ngFor="let gatgramPanchayat of gatgramPanchayatList"
                                value="{{gatgramPanchayat.GATGRAMPANCHAYAT_ID}}">
                                {{gatgramPanchayat.GATGRAMPANCHAYAT_NAME}}</option>

                        </select>
                        <span class="text-danger"
                            *ngIf="isSubmitted && !openPlotRatesForm.value.gatgrampanchayat_id">Please select गट ग्राम
                            पंचायत</span>
                    </div>
                </div>
                <div class=" col-sm-4">
                    <label class="text-dark font-weight-medium">वार्षिक मूल्य दर प्रकार</label>
                    <div class="form-group">

                        <select class="form-control my-select2" name="prakar_id" id="prakar_id"
                            formControlName="prakar_id">
                            <option value="" selected="selected">- वार्षिक मूल्य दर प्रकार निवडा -- </option>
                            <option *ngFor="let prakar of prakarList" value="{{prakar.PRAKAR_ID}}">
                                {{prakar.PRAKAR_NAME}}</option>

                        </select>
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.prakar_id">Please
                            select वार्षिक मूल्य दर प्रकार</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">वार्षिक मूल्य दर</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="annualcost_name" name="annualcost_name"
                            placeholder="उदा. 1200" formControlName="annualcost_name"
                            (keypress)="keyDownText($event,'annualcost_name')">
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.annualcost_name">Please
                            fill वार्षिक मूल्य दर</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="text-dark font-weight-medium">आकारणी दर</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="levyrate_name" name="levyrate_name"
                            placeholder="उदा. 1000" formControlName="levyrate_name"
                            (keypress)="keyDownText($event,'levyrate_name')">
                        <span class="text-danger" *ngIf="isSubmitted && !openPlotRatesForm.value.levyrate_name">Please
                            fill आकारणी दर</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group mt-6">
                        <button type="button" class="btn btn-pill btn-primary" title="Save"
                            (click)="(!isEdit)  ? submitData() : updateData()"><strong>{{(isEdit) ? "बदल करा" : "जतन
                                करा"}}</strong></button>
                        <button type="button" class="btn btn-pill btn-info ml-1" title="Update"
                            (click)="reset()"><strong>पुन्हा रचना
                                करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-default">
    <div class="card-body">
        <div class="col-md-4  mt-2 p-0">
            <div class="input-group ">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search..." (keyup.enter)="translateText($event); " (input)="filterData($event)"
                    [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="resetFilter($event)">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>

        <div class="table-responsive">

            <app-sorting-table [data]="items" [columns]="displayedColumns" [currentPage]="currentPage"
                (edit)="editInfo($event)" (delete)="deleteInfo($event)" [keyName]="keyName">
            </app-sorting-table>
            <div class="float-left font-weight-bold mt-1"><span class="font-weight-bold">Total Records :
                </span>{{totalItems}}</div>
        </div>


        <br>
        <app-pagination class="float-right" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>