<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>कामकाज कमेटी</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form [formGroup]="kamkajComiteeForm">
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <select formControlName="panchayatName" class="my-select2 form-control" name="panchayat_name"
                            id="panchayat_id" placeholder="Panchayat Name">
                            <option value="">-- ग्राम पंचायत निवडा -- </option>
                            <option *ngFor="let panchayat of panchayatList" [value]="panchayat.PANCHAYAT_ID">{{
                                panchayat.PANCHAYAT_NAME }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">फर्स्ट नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            placeholder="उदा. रवि" formControlName="first_name" (keydown)="onKeydown($event,'first_name')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">मधली नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="middle_name" name="middle_name"
                            placeholder="उदा. सुरज " formControlName="middle_name" (keydown)="onKeydown($event,'middle_name')">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">लास्ट नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="last_name" name="last_name"
                            placeholder="उदा. शर्मा " formControlName="firstName" (keydown)="onKeydown($event,'firstName')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">पद</label>
                    <div class="form-group">
                        <select formControlName="designationName" class="my-select2 form-control"
                            name="designation_name" id="designation_id" placeholder="designation Name">
                            <option value="">-- पद निवडा -- </option>
                            <option *ngFor="let pad of DesignationsList" [value]="pad.DESIGNATION_ID">{{
                                pad.DESIGNATION_NAME }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">मोबाईल न.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mobile_no" name="mobile_no"
                            placeholder="उदा. 9125548545" formControlName="firstName" (keydown)="onKeydown($event,'firstName')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group ">
                        <button type="button" class="btn btn-pill btn-primary col-md-12 col-sm-12"
                            title="Save"><strong>जतन करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-default">
    <!-- <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>कामकाज कमेटी</strong></h2>
        <a routerLink="/admin/new-kamkaj-kameti" class="btn btn-secondary btn-sm float-right open-plot-add-btn"><i
                class="mdi mdi-plus-circle"></i> नवीन कामकाज कमेटी जोडा</a>
    </div> -->

    <div class="card-body">
        <form action="#" method="get">
            <div class="col-md-4" id="input-group-search">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search...">
            </div>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:2%">अनुक्रमांक</th>
                        <!-- <th>जिल्हा</th>
                        <th>तालुका</th> -->
                        <th>ग्राम पंचायत</th>
                        <!-- <th>गट ग्राम पंचायत</th>
                        <th>वार्षिक मूल्य दर प्रकार</th>
                        <th>वार्षिक मूल्य दर</th>
                        <th>आकारणी दर</th>
                        <th>क्रिया</th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr class="font-weight-bold">
                        <td>1</td>
                        <!-- <td>नागपुर</td>
                        <td>रामटेक</td> -->
                        <td>मनसर</td>
                        <!-- <td>सावंगी</td>
                        <td>test</td>
                        <td>1250</td>
                        <td>1.20</td>
                        <td><a href="" class="btn btn-sm btn-outline-success font-weight-bold"><i
                                    class="mdi mdi-square-edit-outline"></i>
                                एडिट</a> &nbsp;<a href="" class="btn btn-sm btn-outline-danger font-weight-bold"><i
                                    class="mdi mdi-trash-can-outline"></i> डिलीट</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-seperated pagination-seperated-rounded">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true" class="mdi mdi-chevron-left mr-1"></span>
                        <span class="d-none d-lg-inline-block">Prev</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="d-none d-lg-inline-block">Next</span>
                        <span aria-hidden="true" class="mdi mdi-chevron-right ml-1"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>