<div class="card card-default">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>कामकाज कमेटी</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="gramPanchayat">
                            <option value="">-- ग्राम पंचायत निवडा -- </option>
                            <option value="1">मनसर</option>
                            <option value="2">वरठी</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">फर्स्ट नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            placeholder="उदा. रवि ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">मधली नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="middle_name" name="middle_name"
                            placeholder="उदा. सुरज ">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">लास्ट नाव</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="last_name" name="last_name"
                            placeholder="उदा. शर्मा ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6">
                    <label class="text-dark font-weight-medium">पद</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control" name="gramPanchayat">
                            <option value="">-- पद निवडा -- </option>
                            <option value="1">सचिव</option>
                            <option value="2">सरपंच</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="text-dark font-weight-medium">मोबाईल न.</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mobile_no" name="mobile_no"
                            placeholder="उदा. 9125548545">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group ">
                        <button type="button" class="btn btn-pill btn-primary col-md-12 col-sm-12"
                            title="Save"><strong>जतन करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="card card-default">
    <div>

        <div>
            <table class="table ">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center"
                            style="width:2%">#</th>
                        <th>जिल्हा</th>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let ele of userPanchayt" class="m-0">
                <div class="row mt-0">

                    <div class="col-md-12 mb-0">
                        <table class="table">
                            <thead class>
                                <tr>
                                    <th class="text-center border"
                                        (click)="toggleCollapse(ele?.PANCHAYAT_ID)"
                                        style="width:2%"><i
                                            class=" toggle-nested "
                                            [ngClass]="collapsedDistricts[ele.PANCHAYAT_ID] ? 'mdi mdi-minus-circle' : 'mdi mdi-plus-circle' "></i></th>
                                    <th class="border"> <span
                                            class="text-dark font-weight-bold ml-2 ">{{
                                            ele?.PANCHAYAT_NAME
                                            }}</span></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <div *ngIf="collapsedDistricts[ele.PANCHAYAT_ID]"
                    class="mt-0 mb-2">

                    <div class=" mt-0">

                        <app-sorting-table
                            [data]="items"
                            [columns]="displayedColumns"
                            [currentPage]="currentPage"
                            (edit)="editInfo($event)"
                            (delete)="deleteInfo($event)"
                            [keyName]="keyName">
                        </app-sorting-table>
                        <div
                            class="float-left font-weight-bold mt-1"><span
                                class="font-weight-bold">Total
                                Records :
                            </span>{{totalItems}}</div>
                    </div>

                    <div class="col-md-12 p-2">
                        <app-pagination class="float-right "
                            [totalItems]="totalItems"
                            [itemsPerPage]="itemsPerPage"
                            (pageChange)="onPageChange($event)">
                        </app-pagination>
                    </div>
                    <br />

                </div>

            </div>
        </div>

    </div>
</div>