<div *ngIf="isLoading">
    <app-skeleton-loader [rows]="4" [columns]="3"></app-skeleton-loader>
    <!-- <app-loader [isLoading]="isLoading"></app-loader> -->
</div>
<div class="card card-default" *ngIf="!isLoading">
    <div class="card-header card-header-nk">
        <h2 class="card-header-label"><strong>ग्राम पंचायत</strong></h2>
    </div>
    <div class="px-6 py-4">
        <form [formGroup]="gramFrom">
            <div class="row">
                <div class="col-sm-2">
                    <label class="text-dark font-weight-medium">जिल्हा</label>
                    <div class="form-group">
                        <select formControlName="district_id" name="selectedOption" id="mySelect"
                            class="form-control my-select2 col-sm-12" placeholder="Select district"
                            (change)="getTalukaByDistrict($event)" formControlName="districtName">
                            <option value="" selected>-- जिल्हा निवडा -- </option>
                            <option *ngFor="let district of districts" [value]="district.DISTRICT_ID">{{
                                district.DISTRICT_NAME }}</option>
                        </select>
                        <span class="text-danger" *ngIf="isSubmitted && !gramFrom.value.districtName">Please select
                            district</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="text-dark font-weight-medium">तालुका</label>
                    <div class="form-group">
                        <select class="js-example-basic-multiple1 form-control   my-select2" name="taluka" id="taluka"
                            formControlName="talukaName">
                            <option value="" selected>-- तालुका निवडा -- </option>
                            <option *ngFor="let taluka of talukas" value="{{taluka.TALUKA_ID}}">{{taluka.TALUKA_NAME}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="text-dark font-weight-medium">ग्राम पंचायत</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="gramPanchayat" name="gramPanchayat"
                            placeholder="उदा. मनसर" formControlName="gramPanchayatName"
                            (keypress)="keyDownText($event,'gramPanchayatName')">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group mt-6">
                        <button type="button" class="btn btn-pill btn-primary" title="Save"
                            (click)="(!isEdit)  ? addGramPanyachayt() : updateGramPanchayat()"><strong>{{(isEdit) ? "बदल
                                करा" : "जतन करा"}}</strong></button>
                        <button type="button" class="btn btn-pill btn-info ml-1" title="Update"
                            (click)="reset()"><strong>पुन्हा रचना
                                करा</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-default" *ngIf="!isLoading">
    <div class="card-body">

        <div class="col-md-4" id="input-group-search">
            <div class="input-group">
                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                    placeholder="Search..." (keyup.enter)="translateText($event); filterData(); " (input)="filterData()"
                    [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="resetFilter($event)">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>

        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th style="width:10%">अनुक्रमांक</th>
                        <th style="width:20%">जिल्हा</th>
                        <th style="width:20%">तालुका</th>
                        <th style="width:20%">ग्राम पंचायत</th>
                        <th style="width:20%">क्रिया</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of paginatedItems let i = index">

                        <td>{{ srNo(i) }}</td>
                        <td>{{item.DISTRICT_NAME}}</td>
                        <td>{{item.TALUKA_NAME}}</td>
                        <td>{{item.PANCHAYAT_NAME}}</td>
                        <td><button class="btn btn-sm btn-outline-success font-weight-bold"
                                (click)="editInfo(item.PANCHAYAT_ID)"><i class="mdi mdi-square-edit-outline"></i>
                                एडिट</button> &nbsp;<button href=""
                                class="btn btn-sm btn-outline-danger font-weight-bold"
                                (click)="deleteGramPanchayat(item.PANCHAYAT_ID)"><i
                                    class="mdi mdi-trash-can-outline"></i> डिलीट</button></td>
                    </tr>

                </tbody>
            </table>
            <div class="float-left font-weight-bold mt-1"><span class="font-weight-bold">Total Records :
                </span>{{totalItems}}</div>
        </div>
        <br>
        <app-pagination class="float-right" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>