<div class="card card-default">
    <div class="px-6 py-4">
        <p>Mono provides a variety of <span class="text-secondary text-capitalize"> Mask Plugin </span>
            components with a
            little customization that suits its design standards. For more information, please see the official
            <a class="font-weight-bold" href="https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html"
                target="_blank">Mask Plugin Documentaion.</a>
        </p>
    </div>
</div>